@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.modal {
  transition: opacy 0.25s ease;
}

body.model-active {
  overflow-x: hidden;
  overflow-y: visible !important;
}

.red {
  background: #DC143C;
  color: #FFFFFF;
}

.blue {
  background: #6495ED;
  color: #FFFFFF;
}

.neutral {
  background: #F5F5F5;
}

.assassin {
  background: #000000;
  color: #FFFFFF;
}

ul.words {
  list-style-type: none;
}

ul.words li {
  float: left;
}

ul.words li:nth-child(7n+1) {
  clear: left;
}

ul.words li button {
  width: 125px;
  height: 125px;
  border: 1px solid #999;
  font-size: 20px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}
